@import 'variables';
@import 'resto-style';
@import 'footer';

body {
    margin: 0%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-top: 10px;
    margin: 0px 90px 0px 20px;
    
    
    i {
        font-size: 20px;
    }
    img {
        display: flex;
        position: relative;
        width: 190px;
    }
}
main {
    
    .img-resto{
        display: flex;
        justify-content: center;
        height: 260px;
        
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        background-color: $color-gris;
        width: 100%;

        
        
        .resto-titre {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: $font-logo;
            font-size: 19px;
            width: 100%;
            border-radius: 35px 35px 0px 0px;
            background-color: $color-gris;
            height: 70px;
            position: relative;
            top: -30px;

            h1 {
                margin-top: 50px;
                font-weight: 200;
            }

            .btns-like {
                display: inline-block;
                cursor: pointer;
    
                .icon-wrapper  {
                    position: absolute;
                    display: inline-block;
                    right: 60px;
                    top: 2.5%;
                }
                .fa-heart {
                    font-size: 25px;
                    transition: all 0.3s;
                    position: absolute;
                    top: 35px;
                    left: 0;
                }
                .icon-gradient {
                    background: linear-gradient(to bottom, $color-primaire, $color-secondaire);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    opacity: 0;
                }
    
                .no-gradient {
                    color: #000; 
                    opacity: 1;
                }
    
                .icon-wrapper:hover .no-gradient {
                    opacity: 0;
                }
    
                .icon-wrapper:hover .icon-gradient {
                    opacity: 1;
                }
            }
            
        }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

        .titre{
            display: flex;
            

            h2 { display: flex;
                margin-left: 10px;
                border-bottom: 3px solid;
                border-color: $color-tertiaire;
                width: 13%;
                font-size: 19px;
                font-weight: 300;
                font-family: $font-texte;
            }
        }
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8px;
        width: 95%;
        gap: 20px;
        font-family: $font-texte;

        .card {
            display: flex;
            justify-content: space-between;
            background-color: white;
            border-radius: 20px;
            width: 100%;
            height: 77px;
            box-shadow: -2px 4px 20px 0px darken($color: $color-gris, $amount: 20%);
            
            overflow: hidden;
            cursor: pointer;
            

            .text {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                

                h3 {
                    display: flex;
                    flex-direction: column;
                    margin: 15px 0px 0px 15px ;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    
                    
                }

                p {
                    margin: 5px 0px 15px 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        
            
            .anim {
                display: flex;
                justify-content: flex-end;
                gap: 10px;
                right: 0%;
                transition: transform 0.5s ease;
                transform: translateX(75px);
                transform-origin: right;
            }
            &:hover {
                & > .anim {   
                transform: translateX(0px);
                background-color: white;
                }
            }
            .prix {
                display: flex;
                justify-content: center;
                align-items: end;
                color: #000;
                height: 75px;
                width: 60px;
                margin-bottom: 5px;
            }        
            .check {
                display: flex;
                background-color: #99E2D0;
                width: 75px;
                height: 77px;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 26px;
                border-radius: 0px 15px 15px 0px;
            }
        }
    
    }
    
    
    .button {
        display: flex;
        justify-content: center;
        margin: 25px 0px 45px 0px;
        
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            font-size: 18px;
            border: none;
            width: 60%;
            height: 50px;
            color: white;
            background: linear-gradient(to bottom, $color-secondaire, $color-primaire);
            box-shadow: -2px 4px 20px 0px darken($color: $color-gris, $amount: 20%);
            transition: box-shadow 400ms, transform 400ms;

            &:hover {
                transform: scale(1.01);
                background: linear-gradient(to bottom, #ff94e1, #a373de);
                box-shadow: 0px 6px 11px 9px darken($color: $color-gris, $amount: 20%);
            }
        }
    }
}   
/************desktop************/
@media all and (min-width: 1025px) {
    header {
        justify-content: space-between;
        padding-left: 25px;
    
        img {
            display: flex;
            position: absolute;
            right: 45%;
            top: 20px;
        }
    }
    main {

       
        img {
            display: flex;
            object-fit: cover;
            height: 390px;
        }

        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            margin: 100px 200px 0px 225px;
            gap: 20px;

            .resto-titre {
                font-size: 20px;
                
                h1 {
                    margin-top: 60px;
                }    
                .btns-like {
                    top: 6%;
                    right: 20%;
                }          
            }
            .titre {
                width: 70%;
                
                h2 {
                    font-size: 17px;
                    font-weight: 300;
                }
            }
            .btns-like {
                display: flex;
                position: absolute;
                right: 20%;
                top: 25px;
            }
            .card-content {
                width: 60%;
                

                .check {
                    width: 60px;
                }
            }
            .btn {
                width: 200px;
            }
        }   
        
    }
}
/**************tablet****************/
@media (min-width: 600px) and (max-width: 1024px) {
    header {
       display: flex;
       margin: 0;
       justify-content: center;
       gap: 50px;

       a {
        display: flex;
        left: 60px;
        text-decoration: none;
        position: absolute;
       }

    }
    main {
     
       
        .content {
            
            top: 40%;
            
            align-items: center;
            justify-content: center;

            .resto-titre {
                font-size: 25px;
            }
            .btns-like {
                display: flex;
                position: absolute;
                right: 10%;
                top: 0px;
            }
            .card-content {
                width: 80%;
            }
            .button {
                width: 300px;
            }
            
                    
                
            
        }
    }
}